<div class="header">
  <div class="logo">
    <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
  </div>
  <div class="title">
    <div class="name">Track-in-ship</div>
    <div class="catch-phrase">Because Track'n'ship was already taken</div>
  </div>
  <div class="controls">
    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </div>
</div>

{{content}}

{{outlet}}
